body{
    background-color: lightblue;
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: white;
    padding: 15px;
    max-width: 500px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}